body{
  border-radius: 10px;
  padding: 0 15px;
}

.option-delete {
  margin-left: 10px !important;
  cursor: pointer !important;
}

.option-delete>fa-icon {
  color: var(--alert-color) !important;
}

.text-info{
  margin-top: -1rem !important;
  margin-bottom: 10px !important;
  color: var(--primary-color) !important;
}