body{
    padding: 0 15px;
    border-radius: 10px !important;
}

.password-policies{
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 7px;
}

.password-policies>ul{
    list-style: none;
    margin-left: 15px;
}

.input-group-text>fa-icon{
    color: var(--primary-color);
}

fa-icon{
    color: var(--primary-color);
}

.btn-danger{
    border-radius: 50px;
    margin-left: 10px;
}