<body data-aos="fade-left">
    <!--Orden-->
    <div class="row mt-4 mb-4">
        <h4><b>Escribir de manera correcta</b></h4>
    </div>

    <!--Pregunta-->
    <div class="row d-flex mb-4">
        <p class="text-root">{{activity.question.text_root}}</p>
    </div>

    <!--Opciones-->
    <div class="row" role="group" aria-label="Basic checkbox button group">
        <!--Columna izquierda-->
        <div class="col-6">
            @for(option of arrayOptions.slice(0,3); track option.id){
            <div class="col-12 d-flex justify-content-start align-items-center mb-3 option"
                [class.selected]="selectedOptionsForColor.includes(option.idHTML)" 
                (click)="selectOption(option.idHTML)">
                <div class="option-number">{{ option.optionNumber }}</div>
                <input type="checkbox" class="btn-check" id="{{ option.idHTML }}" autocomplete="off" [(ngModel)]="option.selected">
                <label class="btn btn-outline-secondary" [for]="option.idHTML">{{ option.label }}</label>
            </div>
            }
        </div>
        <!--Columna derecha-->
        <div class="col-6">
            @for(option of arrayOptions.slice(3,6); track option.id){
            <div class="col-12 d-flex justify-content-start align-items-center mb-3 option"
                [class.selected]="selectedOptionsForColor.includes(option.idHTML)" 
                (click)="selectOption(option.idHTML)">
                <div class="option-number">{{ option.optionNumber }}</div>
                <input type="checkbox" class="btn-check" id="{{ option.idHTML }}" autocomplete="off" [(ngModel)]="option.selected">
                <label class="btn btn-outline-secondary" [for]="option.idHTML">{{ option.label }}</label>
            </div>
            }
        </div>
    </div>
</body>