@if(!spinnerStatus){
<app-spinner></app-spinner>
}

<body>
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="div mt-3 mx-1">
                <h4 id="titulo"><fa-icon [icon]="iconCube" class="icon-title"></fa-icon> Selección única</h4>
                @if(!newQuestion){
                <button type="button" class="btn btn-secondary btn-xs" (click)="goToListActivities()"
                    data-bs-toggle="mensaje" title="Volver al listado de actividades">
                    <fa-icon [icon]="iconBack" class="icon-button"></fa-icon></button>
                }
                @else{
                <button type="button" class="btn btn-secondary btn-xs" (click)="generateWithIA()"> Generar con IA
                    <fa-icon [icon]="iconIA" class="icon-button"></fa-icon></button>
                }
            </div>

             <!--Información sobre el tipo de pregunta-->
            @if(generatedWithIA){
                <div class="row alert-info mx-1 mt-2">
                    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                        </symbol>
                        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                            <path
                                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                        </symbol>
                        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                            <path
                                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </symbol>
                    </svg>
        
                    <div class="alert alert-primary d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                            <use xlink:href="#info-fill" />
                        </svg>
                        <div>
                            Considere que la IA no siempre da respuestas precisas, por lo que se sugiere revisar y editar antes de guardar.
                        </div>
                        <button type="button" class="btn-close justify-content-end" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            }

            <!--Formulario para registrar la pregunta-->
            <form [formGroup]="questionForm" class="row mt-3 mb-2">
                <div class="col-12">
                    <!--Enunciado-->
                    <div class="mb-3">
                        <label class="mb-1"><b>Enunciado</b></label>
                        <textarea type="text" class="form-control form-control-lg bg-light fs-6"
                            formControlName="textRoot" placeholder="Enunciado*" rows="2" [ngClass]="{
                                'is-invalid': questionForm.get('textRoot')?.hasError('required') && questionForm.get('textRoot')?.touched || questionForm.get('textRoot')?.hasError('pattern')==true,
                                'is-valid': questionForm.get('textRoot')?.hasError('required')==false && questionForm.get('textRoot')?.hasError('pattern') == false && questionForm.get('textRoot')?.value?.length >= 4
                                }"></textarea>
                        @if (questionForm.get('textRoot')?.hasError('required') &&
                        questionForm.get('textRoot')?.touched) {
                        <div class="validators">
                            <small>¡Este campo es requerido!</small>
                        </div>
                        }
                        @if (questionForm.get('textRoot')?.hasError('pattern')) {
                        <div class="validators">
                            <small>¡Solo se permiten letras!</small>
                        </div>
                        }
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                    <!--Opción 1 (correcta)-->
                    <div class="mb-3">
                        <label class="mb-1"><b>Opciones</b></label>
                        <div class="input-group option-correct">
                            <span class="input-group-text">
                                1
                            </span>
                            <input type="text" class="form-control form-control-lg bg-light fs-6 option"
                                formControlName="optionOne" placeholder="Opción correcta*" [ngClass]="{
                                'is-invalid': questionForm.get('optionOne')?.hasError('required') && questionForm.get('optionOne')?.touched || questionForm.get('optionOne')?.hasError('pattern')==true,
                                'is-valid': questionForm.get('optionOne')?.hasError('required')==false && questionForm.get('optionOne')?.hasError('pattern') == false && questionForm.get('optionOne')?.value?.length >= 2
                                }">

                        </div>
                        @if (questionForm.get('optionOne')?.hasError('required') &&
                        questionForm.get('optionOne')?.touched) {
                        <div class="validators">
                            <small>¡Este campo es requerido!</small>
                        </div>
                        }
                        @if (questionForm.get('optionOne')?.hasError('pattern')) {
                        <div class="validators">
                            <small>¡Solo se permiten letras!</small>
                        </div>
                        }
                    </div>
                    <!--Opción 2-->
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text">
                                2
                            </span>
                            <input type="text" class="form-control form-control-lg bg-light fs-6 option"
                                formControlName="optionTwo" placeholder="Opción 2*" [ngClass]="{
                                'is-invalid': questionForm.get('optionTwo')?.hasError('required') && questionForm.get('optionTwo')?.touched || questionForm.get('optionTwo')?.hasError('pattern')==true,
                                'is-valid': questionForm.get('optionTwo')?.hasError('required')==false && questionForm.get('optionTwo')?.hasError('pattern') == false && questionForm.get('optionTwo')?.value?.length >= 2
                                }">

                        </div>
                        @if (questionForm.get('optionTwo')?.hasError('required') &&
                        questionForm.get('optionTwo')?.touched) {
                        <div class="validators">
                            <small>¡Este campo es requerido!</small>
                        </div>
                        }
                        @if (questionForm.get('optionTwo')?.hasError('pattern')) {
                        <div class="validators">
                            <small>¡Solo se permiten letras!</small>
                        </div>
                        }
                    </div>
                    <!--Opción 3-->
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text">
                                3
                            </span>
                            <input type="text" class="form-control form-control-lg bg-light fs-6 option"
                                formControlName="optionThree" placeholder="Opción 3*" [ngClass]="{
                                'is-invalid': questionForm.get('optionThree')?.hasError('required') && questionForm.get('optionThree')?.touched || questionForm.get('optionThree')?.hasError('pattern')==true,
                                'is-valid': questionForm.get('optionThree')?.hasError('required')==false && questionForm.get('optionThree')?.hasError('pattern') == false && questionForm.get('optionThree')?.value?.length >= 2
                                }">

                        </div>
                        @if (questionForm.get('optionThree')?.hasError('required') &&
                        questionForm.get('optionThree')?.touched) {
                        <div class="validators">
                            <small>¡Este campo es requerido!</small>
                        </div>
                        }
                        @if (questionForm.get('optionThree')?.hasError('pattern')) {
                        <div class="validators">
                            <small>¡Solo se permiten letras!</small>
                        </div>
                        }
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                    <!--Dificultad-->
                    <div class="mb-3">
                        <label class="mb-1"><b>Dificultad (1-10)</b></label>
                        <input type="number" class="form-control form-control-lg bg-light fs-6"
                            formControlName="difficulty" placeholder="1" min="1" max="10" [ngClass]="{
                                'is-invalid': questionForm.get('difficulty')?.hasError('required') && questionForm.get('difficulty')?.touched || questionForm.get('difficulty')?.value > 10,
                                'is-valid': questionForm.get('difficulty')?.hasError('required')==false && questionForm.get('difficulty')?.hasError('pattern') == false && questionForm.get('difficulty')?.value!=null
                                }" [maxlength]="2" />
                        @if (questionForm.get('difficulty')?.hasError('required') &&
                        questionForm.get('difficulty')?.touched) {
                        <div class="validators">
                            <small>¡Este campo es requerido!</small>
                        </div>
                        }
                        @if (questionForm.get('difficulty')?.value > 10) {
                        <div class="validators">
                            <small>¡La dificultad máxima es de 10!</small>
                        </div>
                        }
                    </div>
                </div>
            </form>
        </div>

        <!--Botón para registrar la pregunta-->
        <div class="action-buttons d-flex justify-content-end">
            <button type="button" class="btn btn-primary btn-md mb-3" [disabled]="questionForm.invalid"
                (click)="newQuestion? registerQuestion(): updateActivity()">{{newQuestion?"Guardar":"Actualizar"}}</button>
        </div>
    </div>
</body>
