<app-spinner *ngIf="!spinnerStatus"></app-spinner>

<body class="row">
    <div class="container d-flex justify-content-center">
        <div class="box" data-aos="flip-left">
            <h3 class="text-center mb-3">Recuperar contraseña</h3>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">

                <!--Indicaciones-->
                <div class="row mt-3 mb-4">
                    <span>Ingresa tu correo electrónico con el que te registraste, te enviaremos un enlace que ayudará a recuperar tu cuenta.</span>
                </div>

                <!--Correo electrónico-->
                <div class="mb-4">
                    <label class="mb-1"><b>Email</b></label>
                    <input type="email" class="form-control form-control-lg bg-light fs-6" formControlName="email"
                        placeholder="Email*" [ngClass]="{
                            'is-invalid': forgotPasswordForm.get('email')?.hasError('required') && forgotPasswordForm.get('email')?.touched || forgotPasswordForm.get('email')?.hasError('pattern')==true,
                            'is-valid': forgotPasswordForm.get('email')?.hasError('required')==false && forgotPasswordForm.get('email')?.hasError('pattern') == false
                            }">
                    @if (forgotPasswordForm.get('email')?.hasError('required') && forgotPasswordForm.get('email')?.touched) {
                    <div class="validators">
                        <small>¡Este campo es requerido!</small>
                    </div>
                    }
                    @if (forgotPasswordForm.get('email')?.hasError('pattern')) {
                    <div class="validators">
                        <small>¡No posee formato de correo electrónico!</small>
                    </div>
                    }
                </div>

                <!--Botón para enviar correo-->
                <div class="content-buttons">
                    <button type="submit" class="mb-3 btn btn-lg btn-primary w-100 fs-6"
                    [disabled]="!forgotPasswordForm.valid">Enviar</button>
                </div>

                <!--Redirigir al fomulario de login-->
                <div class="no-account">
                    <p class="mt-4 text-center"> <a (click)="goToLoginForm()" class="link">¿Ya tienes una cuenta? Inicia sesión</a></p>
                </div>

                <!--Términos y condiciones-->
                <div class="row text-center mt-5 terms-and-conditions">
                    <span>Al registrarte en Unidev, aceptas nuestros <b class="terms" (click)="goToTermsConditions(1)">Términos y Condiciones</b> y
                        también la <b class="politics" (click)="goToTermsConditions(2)">Política de Privacidad</b></span>
                </div>
            </form>
        </div>
    </div>
</body>