body{
    border-radius: 10px;
    padding: 0 15px;
}

.title{
    color: var(--primary-color);
    font-weight: 700;
}

.content-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-image img {
    width: 20%;
}

.container-table{
    padding: 0 15%;
}

.profile-image>img {
    width: 30px; 
    height: 30px;
    border-radius: 50%; 
    background-size: cover; 
    background-position: center; 
    margin: 0 auto; 
}

tr{
    font-size: 17px;
    font-weight: 600;
}

.text-num,
.text{
    color: var(--text-color);
}

.text-num{
    color: var(--primary-color);
}

.iconvIewProfileUser{
    color: var(--primary-color);
    cursor: pointer;
}

/*For small screens*/
@media (max-width: 768px) {
    h4{
        font-size: 1rem;
    }

    .content-image img {
        width: 40%;
    }

    .container-table{
        padding: 0 2%;
    }

    .profile-image {
        width: min-content; 
    }

    .profile-image>img {
        width: 20px; 
        height: 20px;
    }

    tr{
        font-size: 10px;
        font-weight: 600;
    }

    .iconvIewProfileUser{
        font-size: 10px !important;
    }
}